page-class-list {}

.hash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  right: 1.5rem;
  z-index: 100;
  font-size: 2rem;
  color: #488AFF;
  opacity: .6;
}
