ion-title {
  text-align: center;
}

ion-icon {
  font-size: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

* {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.badge {

}
